@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.body b {
  color: var(--accent-color);
  overflow: hidden;
}

.grey {
  opacity: 0.5;
  margin-top: 0.5rem;
  text-align: justify;
}

.outlined {
  transition: all 0.5s;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: #eee;
  border-bottom: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);;
  box-shadow: var(--accent-color) 0px 20px 30px -10px;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}

.outlined:hover {
  transition: all 0.5s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--accent-color);
}

.cvbutton {
  display: flex;
  justify-content: center;
  margin: 1rem;
  text-decoration: none;
}

.expertiseContainer {
  display: flex;
  justify-content: space-between;
}

.aboutTitle {
  text-align: center;
  margin: 1rem;
  margin-top: 4rem;
}

.expertiseElement {
  margin: 1rem;
  padding: 1rem 0;
  text-align: center;
  box-shadow: var(--accent-color) 0px 1px 0px, var(--accent-color) 0px 1px 0px inset;
  border-radius: 20px;
}

.expertiseElement p {
  padding: 0 1rem;
}

.icon 
{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--accent-color);
  opacity: 0.6;
}

.skillsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.canvasContainer {
  width: 140px;
  height: 140px;
}

@media screen and (max-width: 900px) {
  .expertiseContainer {
    flex-wrap: wrap;
  } 
}

@media screen and (max-width: 600px) {
  .canvasContainer canvas {
    width: 1px;
    margin: 7rem;
    margin-top: 0;
  }

  .skillsContainer {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;
    width: 80vw;
  } 
}