@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.body b {
  color: var(--accent-color);
  overflow: hidden;
}

.grey {
  opacity: 0.5;
  margin-top: 0.5rem;
  text-align: justify;
}

.outlined {
  margin: 1rem;
  transition: all 0.3s;
  font-size: 1.25rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--accent-color);
  box-shadow: var(--accent-color) 0px 0px 50px;
  cursor: pointer; 
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.outlined:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.outlined:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*.outlined {
  margin: 1rem;
  transition: all 0.5s;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: #eee;
  border: none;
  border-bottom: 2px solid var(--accent-color);
  box-shadow: var(--accent-color) 0px 0px 20px;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  position: relative; 
  overflow: hidden; 
} */

.outlined:hover {
  transition: all 0.3s;
  box-shadow: none;
  color: var(--accent-color);
}

.cvbutton {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  text-decoration: none;
}

.expertiseContainer {
  display: flex;
  justify-content: space-between;
}

.aboutTitle {
  text-align: center;
  margin: 1rem;
  margin-top: 4rem;
}

.expertiseElement {
  margin: 1rem;
  padding: 1rem 0;
  text-align: center;
  box-shadow: var(--accent-color) 0px 1px 0px, var(--accent-color) 0px 1px 0px inset;
  border-radius: 20px;
}

.expertiseElement p {
  padding: 0 1rem;
}

.icon 
{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--accent-color);
  opacity: 0.6;
}

.skillsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.canvasContainer {
  width: 140px;
  height: 140px;
}

.hrStyle {
  border-color: var(--accent-color);
  height: 2px;
  margin: 3rem 0;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer a {
  transition: all ease-in-out 0.8s;
  padding: 1rem;
  text-decoration: none;
  color: var(--text-color);
  box-shadow: var(--accent-color) 0px 25px 20px -10px;
  border-radius: 10px;
}

.footer a:hover {
  transition: all ease-in-out 0.8s;
  color: var(--button-text);
  box-shadow: var(--accent-color) 0px 0px 20px 10px;
}

@media screen and (max-width: 900px) {
  .expertiseContainer {
    flex-wrap: wrap;
  } 
}

@media screen and (max-width: 600px) {
  .canvasContainer canvas {
    width: 1px;
    margin: 7rem;
    margin-top: 0;
  }

  .skillsContainer {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;
    width: 80vw;
  } 
}