.optionContainer {
  display: flex;
  justify-content: space-around;
}

.optionTitle {
  text-align: center;
  margin-bottom: 1rem;
}

.optionDescr {
  text-align: justify;
  margin: 1rem 0px;
}

.optionElement {
  margin: 1rem;
  box-shadow: var(--accent-color)  0px 5px 15px;
  padding: 1rem;
  min-width: 50%
}

.optionElement ul {
  list-style-type: none;
}

.body p {
  text-align: justify;
}

@media screen and (max-width: 900px) {
  .optionContainer {
    flex-wrap: wrap;
  }
  .optionElement {
    min-width: 100%;
  }
}

@media screen and (max-width: 600px) {

}
