@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
.flutter {
  border: 0.1rem solid rgb(97, 218, 251);
}
.flutter:hover {
  background: rgba(97, 218, 251, 0.25);
}

.dart {
  border: 0.1rem solid rgb(0, 117, 186);
}
.dart:hover {
  background: rgba(0, 117, 186, 0.25);
}

.nodeJS {
  border: 0.1rem solid rgb(131, 205, 41);
}
.nodeJS:hover {
  background: rgba(131, 205, 41, 0.25);
}

.vueJS {
  border: 0.1rem solid rgb(65, 184, 131);
}
.vueJS:hover {
  background: rgba(65, 184, 131, 0.25);
}

.redux {
  border: 0.1rem solid rgb(118, 74, 188);
}
.redux:hover {
  background: rgba(118, 74, 188, 0.25);
}

.symfony {
  border: 0.1rem solid rgb(0, 0, 0);
}
.symfony:hover {
  background: rgba(0, 0, 0, 0.25);
}

.material-ui {
  border: 0.1rem solid rgb(25, 118, 210);
}
.material-ui:hover {
  background: rgba(25, 118, 210, 0.25);
}

.reseau {
  border: 0.1rem solid rgb(0, 209, 178);
}
.reseau:hover {
  background: rgb(0, 209, 178, 0.25);
}

.nextJS {
  border: 2px solid rgb(0, 112, 243);
}
.nextJS:hover {
  background: rgba(0, 112, 243, 0.25);
}

.django {
  border: 2px solid rgb(9, 46, 32);
}
.django:hover {
  background: rgba(9, 46, 32, 0.25);
}

.react {
  border: 2px solid rgb(255, 65, 84);
}
.react:hover {
  background: rgba(255, 65, 84, 0.25);
}

.css {
  border: 2px solid rgb(21, 114, 182);
}
.css:hover {
  background: rgba(21, 114, 182, 0.25);
}

.html {
  border: 2px solid rgb(240, 101, 41);
}
.html:hover {
  background: rgba(227, 76, 38, 0.25);
}

.php {
  border: 2px solid rgb(119, 123, 179);
}
.php:hover {
  background: rgba(119, 123, 179, 0.25);
}

.sql {
  border: 2px solid rgb(220,20,60);
}
.sql:hover {
  background: rgba(220,20,60, 0.25);
}

.javascript {
  border: 2px solid rgb(240, 219, 79);
}
.javascript:hover {
  background: rgba(240, 219, 79, 0.25);
}

.python {
  border: 2px solid rgb(0,128,0);
}
.python:hover {
  background: rgba(0,128,0, 0.25);
}

.wordpress {
  border: 2px solid rgb(220,220,220);
}
.wordpress:hover {
  background: rgba(220,220,220, 0.25);
}

.hubspot {
  border: 2px solid rgb(255, 122, 89);
}
.hubspot:hover {
  background: rgba(255, 122, 89, 0.25);
}

.outils_google {
  border: 2px solid rgb(138,43,226);
}
.outils_google:hover {
  background: rgba(138,43,226, 0.25);
}

.crm {
  border: 2px solid rgb(38, 41, 44);
}
.crm:hover {
  background: rgba(38, 41, 44, 0.25);
}

.marketing {
  border: 2px solid rgb(232, 67, 115);
}
.marketing:hover {
  background: rgba(232, 67, 115, 0.25);
}