.container {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
}

.underline {
  padding: 0.2rem;
  margin: 0 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(
    120deg,
    var(--accent-color) 100%,
    var(--accent-color) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: var(--accent-color);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: #eee;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.underline:hover {
  background-size: 100% 88%;
}

.underline.active {
  background-size: 100% 88%;
}

.boutons {
  padding-top: 1rem;
}


.pdfIframe {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .pdfIframe iframe {
    width: 80%;
    height: 70vh;
  }
}

@media (max-width: 800px) {
  .pdfIframe iframe {
    width: 100%;
    height: 60vh;
  }
}